.question-text {
  text-align: center;
}

.question-text h1 {
  font-size: 3rem;
  font-weight: 300;
}

.wrong-answers-main-container {
  width: 100%;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-weight: 600;
}

.wrong-answers-main-container div {
  margin: 0 1rem;
  opacity: 0.5;
}

.wrong-answers-main-container div.active {
  color: red;
  opacity: 0.8;
}

.total-container {
  width: 100%;
  display: flex;
  height: 12rem;
  justify-content: center;
  align-items: center;
}

.total-container .total {
  width: 10rem;
  height: 10rem;
  border: 0.24rem solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.total-container .total h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
.total-container .total h2 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.points-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.points-container .team-container {
  border: 0.25rem solid white;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  width: 30vw;
}
.points-container .team-container .team-title {
  font-size: 5rem;
}
.points-container .team-container .team-points {
  font-size: 7rem;
}
.points-container .team-container p {
  font-size: 3rem;
}
